.input {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  padding: 18px;
  margin: 20px auto;
  width: 600px;
  font-size: 20px;
  border-radius: 7px;
  box-shadow: 0 0.2rem 0.6rem #00000080;
}

.blocks {
  margin-bottom: 30px;
}

.block {
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

input {
  padding: 7px;
  border: 1px solid #aaaaaa;
  border-radius: 7px;
}

input:focus {
  outline: none;
  border: 1px solid #5d5d5d;
}

input:active {
  outline: none;
}

textarea {
  resize: none;
  width: 97%;
  padding: 7px;
  border: 1px solid #aaaaaa;
  border-radius: 7px;
  height: 100px;

}

textarea:focus {
  outline: none;
  border: 1px solid #5d5d5d;
}